{% extends "baseTemplate.html" %}

{% block browserTitleBlock %}

{% endblock %}

{% block headerBlock%}
<a href="{% url 'homepage' %}">
<div class = "formButton">Go back</div></a>
{% endblock %}

{% block contentBlock %}
{% load static %}

{% if player_model %}

<form method = "POST">
{% csrf_token %}

{% if active_players >= 1 %}
 <div class="playerRow">
   <img class="playerImage" src="{{ player1.image.url }}"> <!-- -->
   <div class="playerName">{{ player1.name }} ({{ player1.HC }})</div>
   <div class="scoreInputField">{{ form.playerscore1 }}</div>
 </div>
 {% endif %}

 {% if active_players >= 2 %}
  <div class="playerRow">
    <img class="playerImage" src="{{ player2.image.url }}"> <!-- -->
    <div class="playerName">{{ player2.name }} ({{ player2.HC }})</div>
  </div>
  {% endif %}

  {% if active_players >= 3 %}
   <div class="playerRow">
     <img class="playerImage" src="{{ player3.image.url }}"> <!-- -->
     <div class="playerName">{{ player2.name }} ({{ player2.HC }})</div>
   </div>
   {% endif %}


  <div class="buttonBox">
  <button type="submit" class="submitButton">
     <img id="submitIcon" src="{% static 'icons/submitIcon.svg' %}">
     </button>
   </div>

 </form>
 {{ player1.name }}: {{ playerscore1 }}
  <div style="color: lightgrey">Active players: {{ active_players }}</div>





 {% else %}
 No players entered
 {% endif %}


 {% endblock %}
